#### Import library and files

In [1]:
import pandas as pd

inventory_data = pd.read_csv('inventory_data.csv')
majors_data = pd.read_csv('majors_data.csv')
occupancy_data = pd.read_csv('occupancy_data.csv')
persons_data = pd.read_csv('persons_data.csv')

#### Handling duplicate majors

In [2]:
majors_data

,id,displayId,name,description
0,12c5d420-9bbc-455d-9794-7780bc5fea5b,d24fcc15-c1ac-46b1-aca8-dc998cf45e78,Computer Science,The study of computers and computational systems.
1,d3d06262-f539-4a05-9e71-6e6113e9529b,1e4c7f9f-40f5-4032-bd44-7036952e3105,Mechanical Engineering,The design and manufacture of mechanical systems.
2,19a8bee2-7566-411a-9919-61d44ccc81ef,c84821a7-9878-46e4-a666-34a538c10aa2,Electrical Engineering,The study of electricity and its applications.
3,b33ae65d-523e-48c6-b10e-59346e1c6523,d92604c6-1626-4794-9cce-cf0a7e136c19,Biology,The study of living organisms.
4,3c0ebd74-4105-4532-a321-39bc3d6ab3d8,7468a134-27ba-4c1e-8b24-8ff51cecfb5c,Chemistry,The study of substances and their properties.
...,...,...,...,...
95,1e0b04ba-18d5-4ab9-a1e5-23449bbc4a0b,fe49afdf-4147-4118-9545-3f9d777f256f,Business Administration,The study of business management and operations.
96,d25284f4-c84e-48db-b41e-dc42085a55f9,e0316b35-cebb-4aca-bb21-195e46fe7b85,Accounting,The study of financial record keeping and repo...
97,1f2a78f5-deae-438d-be76-6d733a7dac87,a4679772-25b6-42a3-89e3-ec9f85cf3507,Marketing,The study of market research and consumer beha...
98,c6f0e3ea-fc4a-4768-a155-f0bf0b943717,365217a2-ee94-4f53-ab0d-afa5dae82b81,Finance,The study of money management and investment.
99,62f9fcfb-92d6-4bc8-96ff-e8847c7b27ae,a643c8b1-2260-47f0-a809-65f8e11fc777,Art,The study of visual and performing arts.

In [3]:
majors_data = majors_data.drop_duplicates(subset=['name'])

In [4]:
majors_data

,id,displayId,name,description
0,12c5d420-9bbc-455d-9794-7780bc5fea5b,d24fcc15-c1ac-46b1-aca8-dc998cf45e78,Computer Science,The study of computers and computational systems.
1,d3d06262-f539-4a05-9e71-6e6113e9529b,1e4c7f9f-40f5-4032-bd44-7036952e3105,Mechanical Engineering,The design and manufacture of mechanical systems.
2,19a8bee2-7566-411a-9919-61d44ccc81ef,c84821a7-9878-46e4-a666-34a538c10aa2,Electrical Engineering,The study of electricity and its applications.
3,b33ae65d-523e-48c6-b10e-59346e1c6523,d92604c6-1626-4794-9cce-cf0a7e136c19,Biology,The study of living organisms.
4,3c0ebd74-4105-4532-a321-39bc3d6ab3d8,7468a134-27ba-4c1e-8b24-8ff51cecfb5c,Chemistry,The study of substances and their properties.
5,9dd4dfda-b0d2-4d4a-8642-a44db00f4a15,5a549348-08b9-406a-80ec-ce1edd4be229,Physics,"The study of matter, energy, and the fundament..."
6,38b9874d-dd51-433a-bea9-2ef3ec79cb21,351ec0a1-c1f1-428c-b8be-65168be3f106,Mathematics,"The study of numbers, quantities, and shapes."
7,2c4e188e-85c2-4366-b282-d70974be0631,a210e93e-b162-4d63-a046-d28ea1f309cc,Economics,"The study of the production, distribution, and..."
8,4d0b9e50-43d1-4da0-af2b-97d510bab9e2,167b9c80-7561-47be-8085-2d6928384a8d,Psychology,The study of the mind and behavior.
9,dda33b53-0fff-4371-8a45-35a2192e86e8,66b3693d-0cc9-4c4a-83ae-a3fb65ac926d,Sociology,The study of society and social behavior.
10,f6cf2da9-277c-4780-8c18-2a4727d35f64,10d8ebb2-a991-43c8-870b-5012d7cfe7df,History,The study of past events.
11,4fc222e3-9728-408a-b24b-171c919f81ea,c10fb946-a52a-4709-be02-adfd54a22989,Political Science,The study of politics and government.
12,2390b2fb-f180-48d3-989d-5e359fdf867c,88e60e27-de21-40d9-a326-4ad7cc0d4f28,Philosophy,The study of the fundamental nature of knowled...
13,37979873-7c28-4b44-83ee-438c3e6810e9,04d7d4e7-8a39-43ce-ac4d-6d236bd561dd,English,The study of the English language and literature.
14,1e0ce7f9-cbf4-44c4-bfb7-725db39d17ea,a047ca63-0ce9-47fc-a30b-7c3c700f53f0,Education,The study of teaching and learning methods.
15,ad1e7d8e-5114-413f-921d-a35552003ee4,41149669-ae31-4873-a214-95f409c581fb,Business Administration,The study of business management and operations.
16,f66e3050-2b7f-4d30-bc1e-f1c26d6a2aa2,c9185d45-aef3-4e8e-8c96-b7fdfa1b3b5f,Accounting,The study of financial record keeping and repo...
17,c782f52b-d7ac-47f5-836a-376e4fccf31f,6b57c035-c233-403c-956b-8954da89a830,Marketing,The study of market research and consumer beha...
18,49f57722-52fb-47b6-8e1e-54de177e0d19,577e82d0-af7f-42c8-b8a4-b2aebd5f3a04,Finance,The study of money management and investment.
19,edca0a28-476b-4782-86be-a06806d87ab8,8cd0d078-9ec3-4099-936f-da60da492b7b,Art,The study of visual and performing arts.
20,e00c66ff-cb22-45b1-a5e8-8b3cde249016,e2044bd4-1abd-4618-afe5-40a46e84de86,Music,"The study of musical theory, history, and perf..."
21,49150744-aac2-44f9-8ca0-05ae90757bac,c8065501-6b59-49d3-8c80-845592c30a33,Theater,The study of drama and performance arts.
22,bcf5b4b8-c773-40a4-9ec1-9767753c0d44,a72879e2-e944-4360-9850-c11ff0b141db,Nursing,The study of patient care and medical assistance.
23,1eeb53c2-5e82-4c6a-a81f-bea4af78b2f8,3c772495-8dc7-4c19-998d-9c0668a2e556,Health Science,The study of health and medical science.
24,39af2a17-08ce-4282-8dd0-de4efe79980f,ce75c366-c249-4564-b762-fae94bbeee1b,Environmental Science,The study of the environment and solutions to ...
25,5d92edf2-5248-4363-8e50-f18ad6a67a8c,4c310e5e-a0ec-421c-8534-fd3840f9b947,Geography,The study of the Earth's physical features and...
26,37b765f0-fc71-4c9c-838b-f3a5ce0706ff,f9be4cc1-b02c-4b75-86d9-808f8b3b831b,Anthropology,The study of human societies and cultures.
27,b43b2475-66e9-49df-b826-4dbb0bb15b8b,284dba4b-11ba-4538-aa6b-4379df7e5ca9,Criminal Justice,The study of the criminal justice system and l...
28,8402b4cd-a049-4ae7-8649-16af0c4c8c62,04412e42-e934-4548-9ba9-23f51c7000fc,Social Work,The study of helping individuals and communities.
29,2c6e4248-da4d-4cb3-ac58-3cd04aa203fa,d4e98e77-084c-44cb-96f4-daa070339837,Communications,The study of information exchange and media.
30,3100982d-c037-4a3f-a3ed-83e66b248c8d,c3d5bdf4-317c-4574-bd52-5faec3825597,Journalism,The study of news gathering and reporting.
31,cb7207d7-79d6-497f-a7e6-ceebd62576db,71701dba-e80c-4632-8c92-1bbc924b0a07,Linguistics,The study of language and its structure.
32,6dfeb9a0-918b-4038-ae4f-63ab374b9311,2764f028-3b11-4620-827c-fa1f6110b6c9,Foreign Languages,The study of languages other than one's native...
33,e0bad25d-7fb1-4dd7-a0e8-a11b41dcd281,cacf6a8b-c266-4454-a56d-a6e3af9c894d,Architecture,The study of building design and construction.
34,fa7f1f45-106f-4e8d-bd8c-cce0fd276256,f18ef9ba-d9d5-432e-ac60-cf6590af8acd,Urban Planning,The study of city and regional planning.
35,521b6a84-52f2-488c-b310-c95ae8ff1021,fa1fc96f-24a5-4006-b281-fdace155fef6,Agriculture,The study of farming and food production.
36,6b796d48-625b-4acf-96db-141d2e7d7b4b,39e7879a-f9dd-46b8-b445-0ccbadc4209f,Veterinary Medicine,The study of animal health and care.
37,9cbfac3c-fb8a-4ebd-b677-c223a57ac329,4800de25-bed7-43b2-8556-35d273fc3f49,Public Health,The study of community health and disease prev...
38,4ae8186a-1c4d-4b5e-8e7e-385e8b3e9c79,0bd88d6a-a821-4755-9c94-f40f6bee0daf,Law,The study of legal systems and practices.
39,4ff85e34-9da3-47f2-beee-ec6175d82186,dfbc61aa-9c19-4b85-ba9f-aab66a99f839,Library Science,The study of library management and informatio...

#### Handling Name

In [5]:
persons_data['name'] = persons_data['firstName'] + ' ' + persons_data['lastName']

In [6]:
persons_data.drop(columns=['firstName', 'lastName'], inplace=True)

#### Handling Address

In [7]:
persons_data[['address1', 'city_state']] = persons_data['address'].str.split(',', 1, expand=True)

In [8]:
persons_data['address2']=''

In [9]:
persons_data[['city', 'state']] = persons_data['city_state'].str.split(',', 1, expand=True)

In [10]:
persons_data.drop(columns=['address', 'city_state'], inplace=True)

In [11]:
persons_data['zip']=''

In [12]:
persons_data

,personId,email,dob,majors,name,address1,address2,city,state,zip
0,7b1fb398-72d7-421e-808c-631a427bfbc4,david.taylor@example.com,1992-08-15,Communications,David Taylor,767 Walnut St,,Georgetown,OH,
1,99a4b233-2804-420b-b757-039f0f3cceb7,jane.wilson@example.com,1969-08-20,"Music, Finance",Jane Wilson,168 Birch St,,Riverside,FL,
2,cc3b2df2-a593-493e-af82-1f0d11c7439b,john.brown@example.com,1967-12-14,NaN,John Brown,726 Maple St,,Fairview,PA,
3,cb669177-4020-4284-a3dc-9a0c312411d4,linda.taylor@example.com,1983-12-04,"Social Work, Anthropology",Linda Taylor,171 Spruce St,,Riverside,TX,
4,ba1443a2-dfeb-441b-b41d-078b36416704,sarah.doe@example.com,1986-08-31,"Psychology, Criminal Justice, History, Foreign...",Sarah Doe,987 Walnut St,,Georgetown,OH,
...,...,...,...,...,...,...,...,...,...,...
4995,bc90a95b-9d36-4905-aa0f-636f5c1e4216,jane.miller@example.com,1991-08-07,Anthropology,Jane Miller,654 Pine St,,Greenville,IL,
4996,499eca03-0f5c-4026-859e-cd007c591ae9,bob.doe@example.com,2000-01-15,"Political Science, Marketing, Criminal Justice...",Bob Doe,129 Elm St,,Fairview,TX,
4997,b486891f-da16-452a-a27b-209a071c2f10,sarah.williams@example.com,1975-12-20,"Art, Nursing, Foreign Languages",Sarah Williams,424 Spruce St,,Madison,FL,
4998,f7672679-6fbf-43ae-8593-cb267ab35a56,john.wilson@example.com,1967-04-02,NaN,John Wilson,866 Birch St,,Madison,OH,
4999,bcd7282a-5497-43bc-88fd-5b5ec3b0e5ce,emily.smith@example.com,1960-01-01,NaN,Emily Smith,214 Elm St,,Fairview,CA,

#### Drop duplicate PersonIDs

In [13]:
persons_data = persons_data.drop_duplicates(subset=['personId'])

In [14]:
persons_data

,personId,email,dob,majors,name,address1,address2,city,state,zip
0,7b1fb398-72d7-421e-808c-631a427bfbc4,david.taylor@example.com,1992-08-15,Communications,David Taylor,767 Walnut St,,Georgetown,OH,
1,99a4b233-2804-420b-b757-039f0f3cceb7,jane.wilson@example.com,1969-08-20,"Music, Finance",Jane Wilson,168 Birch St,,Riverside,FL,
2,cc3b2df2-a593-493e-af82-1f0d11c7439b,john.brown@example.com,1967-12-14,NaN,John Brown,726 Maple St,,Fairview,PA,
3,cb669177-4020-4284-a3dc-9a0c312411d4,linda.taylor@example.com,1983-12-04,"Social Work, Anthropology",Linda Taylor,171 Spruce St,,Riverside,TX,
4,ba1443a2-dfeb-441b-b41d-078b36416704,sarah.doe@example.com,1986-08-31,"Psychology, Criminal Justice, History, Foreign...",Sarah Doe,987 Walnut St,,Georgetown,OH,
...,...,...,...,...,...,...,...,...,...,...
4995,bc90a95b-9d36-4905-aa0f-636f5c1e4216,jane.miller@example.com,1991-08-07,Anthropology,Jane Miller,654 Pine St,,Greenville,IL,
4996,499eca03-0f5c-4026-859e-cd007c591ae9,bob.doe@example.com,2000-01-15,"Political Science, Marketing, Criminal Justice...",Bob Doe,129 Elm St,,Fairview,TX,
4997,b486891f-da16-452a-a27b-209a071c2f10,sarah.williams@example.com,1975-12-20,"Art, Nursing, Foreign Languages",Sarah Williams,424 Spruce St,,Madison,FL,
4998,f7672679-6fbf-43ae-8593-cb267ab35a56,john.wilson@example.com,1967-04-02,NaN,John Wilson,866 Birch St,,Madison,OH,
4999,bcd7282a-5497-43bc-88fd-5b5ec3b0e5ce,emily.smith@example.com,1960-01-01,NaN,Emily Smith,214 Elm St,,Fairview,CA,

#### Majors to majorIds

In [15]:
majors_name_to_id = pd.Series(majors_data.id.values, index=majors_data.name).to_dict()
def map_majors_to_ids(majors_str):
    if pd.isna(majors_str):
        return ''
    majors_list = [majors_name_to_id.get(maj.strip(), '') for maj in majors_str.split(',')]
    return ','.join(filter(None, majors_list))

In [16]:
persons_data['majorIds'] = persons_data['majors'].apply(map_majors_to_ids)

In [17]:
persons_data

,personId,email,dob,majors,name,address1,address2,city,state,zip,majorIds
0,7b1fb398-72d7-421e-808c-631a427bfbc4,david.taylor@example.com,1992-08-15,Communications,David Taylor,767 Walnut St,,Georgetown,OH,,2c6e4248-da4d-4cb3-ac58-3cd04aa203fa
1,99a4b233-2804-420b-b757-039f0f3cceb7,jane.wilson@example.com,1969-08-20,"Music, Finance",Jane Wilson,168 Birch St,,Riverside,FL,,"e00c66ff-cb22-45b1-a5e8-8b3cde249016,49f57722-..."
2,cc3b2df2-a593-493e-af82-1f0d11c7439b,john.brown@example.com,1967-12-14,NaN,John Brown,726 Maple St,,Fairview,PA,,
3,cb669177-4020-4284-a3dc-9a0c312411d4,linda.taylor@example.com,1983-12-04,"Social Work, Anthropology",Linda Taylor,171 Spruce St,,Riverside,TX,,"8402b4cd-a049-4ae7-8649-16af0c4c8c62,37b765f0-..."
4,ba1443a2-dfeb-441b-b41d-078b36416704,sarah.doe@example.com,1986-08-31,"Psychology, Criminal Justice, History, Foreign...",Sarah Doe,987 Walnut St,,Georgetown,OH,,"4d0b9e50-43d1-4da0-af2b-97d510bab9e2,b43b2475-..."
...,...,...,...,...,...,...,...,...,...,...,...
4995,bc90a95b-9d36-4905-aa0f-636f5c1e4216,jane.miller@example.com,1991-08-07,Anthropology,Jane Miller,654 Pine St,,Greenville,IL,,37b765f0-fc71-4c9c-838b-f3a5ce0706ff
4996,499eca03-0f5c-4026-859e-cd007c591ae9,bob.doe@example.com,2000-01-15,"Political Science, Marketing, Criminal Justice...",Bob Doe,129 Elm St,,Fairview,TX,,"4fc222e3-9728-408a-b24b-171c919f81ea,c782f52b-..."
4997,b486891f-da16-452a-a27b-209a071c2f10,sarah.williams@example.com,1975-12-20,"Art, Nursing, Foreign Languages",Sarah Williams,424 Spruce St,,Madison,FL,,"edca0a28-476b-4782-86be-a06806d87ab8,bcf5b4b8-..."
4998,f7672679-6fbf-43ae-8593-cb267ab35a56,john.wilson@example.com,1967-04-02,NaN,John Wilson,866 Birch St,,Madison,OH,,
4999,bcd7282a-5497-43bc-88fd-5b5ec3b0e5ce,emily.smith@example.com,1960-01-01,NaN,Emily Smith,214 Elm St,,Fairview,CA,,

In [18]:
persons_data.drop(columns=['majors'], inplace=True)

In [19]:
persons_data

,personId,email,dob,name,address1,address2,city,state,zip,majorIds
0,7b1fb398-72d7-421e-808c-631a427bfbc4,david.taylor@example.com,1992-08-15,David Taylor,767 Walnut St,,Georgetown,OH,,2c6e4248-da4d-4cb3-ac58-3cd04aa203fa
1,99a4b233-2804-420b-b757-039f0f3cceb7,jane.wilson@example.com,1969-08-20,Jane Wilson,168 Birch St,,Riverside,FL,,"e00c66ff-cb22-45b1-a5e8-8b3cde249016,49f57722-..."
2,cc3b2df2-a593-493e-af82-1f0d11c7439b,john.brown@example.com,1967-12-14,John Brown,726 Maple St,,Fairview,PA,,
3,cb669177-4020-4284-a3dc-9a0c312411d4,linda.taylor@example.com,1983-12-04,Linda Taylor,171 Spruce St,,Riverside,TX,,"8402b4cd-a049-4ae7-8649-16af0c4c8c62,37b765f0-..."
4,ba1443a2-dfeb-441b-b41d-078b36416704,sarah.doe@example.com,1986-08-31,Sarah Doe,987 Walnut St,,Georgetown,OH,,"4d0b9e50-43d1-4da0-af2b-97d510bab9e2,b43b2475-..."
...,...,...,...,...,...,...,...,...,...,...
4995,bc90a95b-9d36-4905-aa0f-636f5c1e4216,jane.miller@example.com,1991-08-07,Jane Miller,654 Pine St,,Greenville,IL,,37b765f0-fc71-4c9c-838b-f3a5ce0706ff
4996,499eca03-0f5c-4026-859e-cd007c591ae9,bob.doe@example.com,2000-01-15,Bob Doe,129 Elm St,,Fairview,TX,,"4fc222e3-9728-408a-b24b-171c919f81ea,c782f52b-..."
4997,b486891f-da16-452a-a27b-209a071c2f10,sarah.williams@example.com,1975-12-20,Sarah Williams,424 Spruce St,,Madison,FL,,"edca0a28-476b-4782-86be-a06806d87ab8,bcf5b4b8-..."
4998,f7672679-6fbf-43ae-8593-cb267ab35a56,john.wilson@example.com,1967-04-02,John Wilson,866 Birch St,,Madison,OH,,
4999,bcd7282a-5497-43bc-88fd-5b5ec3b0e5ce,emily.smith@example.com,1960-01-01,Emily Smith,214 Elm St,,Fairview,CA,,

#### Including bedIds

In [20]:
occupancy_with_bedId = pd.merge(occupancy_data, inventory_data, on=['buildingName', 'roomName', 'bedName'], how='left')

In [21]:
occupancy_with_bedId

,personId,buildingName,roomName,bedName,bedId
0,5594bbf8-f2fe-4a4f-b88f-54df252d0309,Pine Hall,Room-1,Bed-1,2143605e-8854-414b-8ad1-0f0203a370d5
1,05ee7cdf-9306-492c-a2d1-3104928640ec,Pine Hall,Room-1,Bed-2,31a6601b-3b48-4e65-a064-75fc34cf80ea
2,4b9c0758-de62-47d6-b78c-f29e754970af,Pine Hall,Room-2,Bed-1,67522423-d8c3-40d1-94dc-d000efb39064
3,045bdbc8-9945-4f75-bf1c-2a8079073d31,Pine Hall,Room-2,Bed-2,31b16eda-2189-4f0b-89a8-f421ffb55b27
4,4b86c4b1-c1e1-4714-9b34-0153654200c1,Pine Hall,Room-2,Bed-3,67466db1-4544-4812-a08d-147bf7eff4b1
...,...,...,...,...,...
2495,afe34145-e920-4f5f-b828-e6e768456793,Oak Hall,Room-997,Bed-1,4e6d856c-a322-4b99-93a6-2710c3d1bd94
2496,2ceee65f-ab7b-46cc-adbb-8226a4749979,Oak Hall,Room-997,Bed-2,b174e3c9-fb89-402b-a1ef-4e78050c92cf
2497,4f83b1cd-4192-4ba1-95e3-db8ac8bbc4c8,Oak Hall,Room-997,Bed-3,7e9d813d-fa7c-4702-8702-fb356dc8b1cb
2498,821485e7-83b6-44ec-9dcb-0d4b744f9095,Oak Hall,Room-998,Bed-1,cbe4ec35-15a2-46ee-8303-a21684670583
2499,702a0004-cb00-4e6c-bbff-4d1e32a98f75,Oak Hall,Room-998,Bed-2,fc5ba547-dc23-41f0-bbeb-2d4e08d61907

In [22]:
final_data = pd.merge(persons_data, occupancy_with_bedId[['personId', 'bedId']], on='personId', how='left')

In [23]:
final_data

,personId,email,dob,name,address1,address2,city,state,zip,majorIds,bedId
0,7b1fb398-72d7-421e-808c-631a427bfbc4,david.taylor@example.com,1992-08-15,David Taylor,767 Walnut St,,Georgetown,OH,,2c6e4248-da4d-4cb3-ac58-3cd04aa203fa,NaN
1,99a4b233-2804-420b-b757-039f0f3cceb7,jane.wilson@example.com,1969-08-20,Jane Wilson,168 Birch St,,Riverside,FL,,"e00c66ff-cb22-45b1-a5e8-8b3cde249016,49f57722-...",NaN
2,cc3b2df2-a593-493e-af82-1f0d11c7439b,john.brown@example.com,1967-12-14,John Brown,726 Maple St,,Fairview,PA,,,a32b34cf-0356-4739-ab43-4a9ed70818f8
3,cb669177-4020-4284-a3dc-9a0c312411d4,linda.taylor@example.com,1983-12-04,Linda Taylor,171 Spruce St,,Riverside,TX,,"8402b4cd-a049-4ae7-8649-16af0c4c8c62,37b765f0-...",01f250f6-a3a3-492b-ba52-3f53f4483316
4,ba1443a2-dfeb-441b-b41d-078b36416704,sarah.doe@example.com,1986-08-31,Sarah Doe,987 Walnut St,,Georgetown,OH,,"4d0b9e50-43d1-4da0-af2b-97d510bab9e2,b43b2475-...",f8ef5ea9-e2bf-4eda-9d7a-c7cdf30dc649
...,...,...,...,...,...,...,...,...,...,...,...
4995,bc90a95b-9d36-4905-aa0f-636f5c1e4216,jane.miller@example.com,1991-08-07,Jane Miller,654 Pine St,,Greenville,IL,,37b765f0-fc71-4c9c-838b-f3a5ce0706ff,NaN
4996,499eca03-0f5c-4026-859e-cd007c591ae9,bob.doe@example.com,2000-01-15,Bob Doe,129 Elm St,,Fairview,TX,,"4fc222e3-9728-408a-b24b-171c919f81ea,c782f52b-...",NaN
4997,b486891f-da16-452a-a27b-209a071c2f10,sarah.williams@example.com,1975-12-20,Sarah Williams,424 Spruce St,,Madison,FL,,"edca0a28-476b-4782-86be-a06806d87ab8,bcf5b4b8-...",3310b826-1d0a-4cd9-a71b-786e71a767f5
4998,f7672679-6fbf-43ae-8593-cb267ab35a56,john.wilson@example.com,1967-04-02,John Wilson,866 Birch St,,Madison,OH,,,NaN
4999,bcd7282a-5497-43bc-88fd-5b5ec3b0e5ce,emily.smith@example.com,1960-01-01,Emily Smith,214 Elm St,,Fairview,CA,,,403863ca-ef28-4943-a263-967489308a46

#### Cleaning data based on null or duplicate majorIds and bedIds and finally removing duplicate emails

In [24]:
cleaned_data = final_data
cleaned_data = cleaned_data[['personId', 'name', 'email', 'dob', 'address1', 'address2', 'city', 'state', 'zip', 'majorIds','bedId']]
cleaned_data = cleaned_data.dropna(subset=['personId', 'name', 'email', 'dob', 'majorIds', 'bedId'])
cleaned_data = cleaned_data[cleaned_data['personId'] != '']
cleaned_data = cleaned_data[cleaned_data['name'] != '']
cleaned_data = cleaned_data[cleaned_data['email'] != '']
cleaned_data = cleaned_data[cleaned_data['dob'] != '']
cleaned_data = cleaned_data[cleaned_data['majorIds'] != '']
cleaned_data = cleaned_data[cleaned_data['bedId'] != '']
cleaned_data

,personId,name,email,dob,address1,address2,city,state,zip,majorIds,bedId
3,cb669177-4020-4284-a3dc-9a0c312411d4,Linda Taylor,linda.taylor@example.com,1983-12-04,171 Spruce St,,Riverside,TX,,"8402b4cd-a049-4ae7-8649-16af0c4c8c62,37b765f0-...",01f250f6-a3a3-492b-ba52-3f53f4483316
4,ba1443a2-dfeb-441b-b41d-078b36416704,Sarah Doe,sarah.doe@example.com,1986-08-31,987 Walnut St,,Georgetown,OH,,"4d0b9e50-43d1-4da0-af2b-97d510bab9e2,b43b2475-...",f8ef5ea9-e2bf-4eda-9d7a-c7cdf30dc649
8,82a1e50c-dfd2-4190-a043-fa0013e00a57,Emily Brown,emily.brown@example.com,1988-04-15,322 Cedar St,,Salem,FL,,6b796d48-625b-4acf-96db-141d2e7d7b4b,7e9f39d1-4385-495b-b485-5bceff951057
15,d7f103c9-7070-4a31-9234-a53ad9a58300,David Miller,david.miller@example.com,1986-10-06,788 Spruce St,,Salem,OH,,4fc222e3-9728-408a-b24b-171c919f81ea,bc010d01-535b-44d9-a8e5-93ab9c98a026
16,65d6d385-ba86-450f-bc1b-c308944eb28c,John Williams,john.williams@example.com,1987-07-03,462 Cedar St,,Madison,TX,,"f6cf2da9-277c-4780-8c18-2a4727d35f64,c782f52b-...",108af9fc-e263-4662-a637-3773d3355db8
...,...,...,...,...,...,...,...,...,...,...,...
4990,57ed0b05-032d-4eac-8349-204a37aa6178,Bob Williams,bob.williams@example.com,1976-06-30,687 Birch St,,Greenville,CA,,"4fc222e3-9728-408a-b24b-171c919f81ea,c782f52b-...",91537056-5a11-4359-86c1-90a0fa7eccea
4991,4b7c6648-f993-468b-b4dd-a369b8564f4f,Alice Davis,alice.davis@example.com,1980-05-03,387 Cedar St,,Greenville,CA,,"49150744-aac2-44f9-8ca0-05ae90757bac,bcf5b4b8-...",86a18b99-154b-4a6d-bcf7-e240419096ca
4993,7ff267cb-6475-4621-a0f3-22de04ea8f5a,Emily Davis,emily.davis@example.com,1987-12-01,926 Maple St,,Greenville,TX,,3100982d-c037-4a3f-a3ed-83e66b248c8d,35f3acaf-a398-4a52-8b3f-4424847454e0
4994,f0c45dfe-743d-47c8-a089-f127582f942b,Bob Davis,bob.davis@example.com,1982-02-07,865 Birch St,,Georgetown,PA,,1e0ce7f9-cbf4-44c4-bfb7-725db39d17ea,e242b1fa-af67-4c07-94e7-a05070e3d15f
4997,b486891f-da16-452a-a27b-209a071c2f10,Sarah Williams,sarah.williams@example.com,1975-12-20,424 Spruce St,,Madison,FL,,"edca0a28-476b-4782-86be-a06806d87ab8,bcf5b4b8-...",3310b826-1d0a-4cd9-a71b-786e71a767f5

In [25]:
cleaned_data = cleaned_data.drop_duplicates(subset=['email'])
cleaned_data

,personId,name,email,dob,address1,address2,city,state,zip,majorIds,bedId
3,cb669177-4020-4284-a3dc-9a0c312411d4,Linda Taylor,linda.taylor@example.com,1983-12-04,171 Spruce St,,Riverside,TX,,"8402b4cd-a049-4ae7-8649-16af0c4c8c62,37b765f0-...",01f250f6-a3a3-492b-ba52-3f53f4483316
4,ba1443a2-dfeb-441b-b41d-078b36416704,Sarah Doe,sarah.doe@example.com,1986-08-31,987 Walnut St,,Georgetown,OH,,"4d0b9e50-43d1-4da0-af2b-97d510bab9e2,b43b2475-...",f8ef5ea9-e2bf-4eda-9d7a-c7cdf30dc649
8,82a1e50c-dfd2-4190-a043-fa0013e00a57,Emily Brown,emily.brown@example.com,1988-04-15,322 Cedar St,,Salem,FL,,6b796d48-625b-4acf-96db-141d2e7d7b4b,7e9f39d1-4385-495b-b485-5bceff951057
15,d7f103c9-7070-4a31-9234-a53ad9a58300,David Miller,david.miller@example.com,1986-10-06,788 Spruce St,,Salem,OH,,4fc222e3-9728-408a-b24b-171c919f81ea,bc010d01-535b-44d9-a8e5-93ab9c98a026
16,65d6d385-ba86-450f-bc1b-c308944eb28c,John Williams,john.williams@example.com,1987-07-03,462 Cedar St,,Madison,TX,,"f6cf2da9-277c-4780-8c18-2a4727d35f64,c782f52b-...",108af9fc-e263-4662-a637-3773d3355db8
...,...,...,...,...,...,...,...,...,...,...,...
729,0aad94d5-b642-482b-a9f3-33e1383c6d79,James Williams,james.williams@example.com,1973-08-04,765 Spruce St,,Riverside,IL,,c782f52b-d7ac-47f5-836a-376e4fccf31f,d756653b-0582-48d4-9969-acbb3780da7c
740,4b9c0758-de62-47d6-b78c-f29e754970af,Bob Wilson,bob.wilson@example.com,1983-01-26,483 Elm St,,Fairview,PA,,"9dd4dfda-b0d2-4d4a-8642-a44db00f4a15,b33ae65d-...",67522423-d8c3-40d1-94dc-d000efb39064
905,c302bf4c-6e67-486c-94ec-570759640194,Jane Taylor,jane.taylor@example.com,1995-02-04,877 Spruce St,,Salem,PA,,"edca0a28-476b-4782-86be-a06806d87ab8,9dd4dfda-...",dfd5597a-28f4-4600-b260-830678b4e54c
982,77210eaa-22c0-4529-ba78-a86c5d39490d,Michael Davis,michael.davis@example.com,1970-05-23,103 Pine St,,Greenville,CA,,"521b6a84-52f2-488c-b310-c95ae8ff1021,4ff85e34-...",813db879-61d9-4b8b-95f7-68882d9ca33a
1791,791556a4-8a4b-4665-9b54-329e8ff1b7ad,Jane Smith,jane.smith@example.com,1962-10-12,936 Elm St,,Madison,TX,,"19a8bee2-7566-411a-9919-61d44ccc81ef,4fc222e3-...",d59c4a27-7c36-4499-b7b5-ab4f07959e96

#### Excluded rows

In [26]:
excluded_rows = final_data.merge(cleaned_data, on=list(final_data.columns), how='left', indicator=True)
excluded_rows = excluded_rows[excluded_rows['_merge'] == 'left_only'].drop(columns=['_merge'])

In [27]:
excluded_rows

,personId,email,dob,name,address1,address2,city,state,zip,majorIds,bedId
0,7b1fb398-72d7-421e-808c-631a427bfbc4,david.taylor@example.com,1992-08-15,David Taylor,767 Walnut St,,Georgetown,OH,,2c6e4248-da4d-4cb3-ac58-3cd04aa203fa,NaN
1,99a4b233-2804-420b-b757-039f0f3cceb7,jane.wilson@example.com,1969-08-20,Jane Wilson,168 Birch St,,Riverside,FL,,"e00c66ff-cb22-45b1-a5e8-8b3cde249016,49f57722-...",NaN
2,cc3b2df2-a593-493e-af82-1f0d11c7439b,john.brown@example.com,1967-12-14,John Brown,726 Maple St,,Fairview,PA,,,a32b34cf-0356-4739-ab43-4a9ed70818f8
5,0fb01c62-21b7-43fc-a631-d2fcdd949e0a,alice.williams@example.com,1958-09-06,Alice Williams,965 Birch St,,Greenville,NY,,39af2a17-08ce-4282-8dd0-de4efe79980f,NaN
6,9bcb32b8-234d-42e2-9dd9-c49399ab95f4,john.moore@example.com,1987-08-14,John Moore,145 Spruce St,,Madison,TX,,4ae8186a-1c4d-4b5e-8e7e-385e8b3e9c79,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4995,bc90a95b-9d36-4905-aa0f-636f5c1e4216,jane.miller@example.com,1991-08-07,Jane Miller,654 Pine St,,Greenville,IL,,37b765f0-fc71-4c9c-838b-f3a5ce0706ff,NaN
4996,499eca03-0f5c-4026-859e-cd007c591ae9,bob.doe@example.com,2000-01-15,Bob Doe,129 Elm St,,Fairview,TX,,"4fc222e3-9728-408a-b24b-171c919f81ea,c782f52b-...",NaN
4997,b486891f-da16-452a-a27b-209a071c2f10,sarah.williams@example.com,1975-12-20,Sarah Williams,424 Spruce St,,Madison,FL,,"edca0a28-476b-4782-86be-a06806d87ab8,bcf5b4b8-...",3310b826-1d0a-4cd9-a71b-786e71a767f5
4998,f7672679-6fbf-43ae-8593-cb267ab35a56,john.wilson@example.com,1967-04-02,John Wilson,866 Birch St,,Madison,OH,,,NaN
4999,bcd7282a-5497-43bc-88fd-5b5ec3b0e5ce,emily.smith@example.com,1960-01-01,Emily Smith,214 Elm St,,Fairview,CA,,,403863ca-ef28-4943-a263-967489308a46

In [28]:
cleaned_data.to_csv('cleaned_data.csv', index=False)

In [29]:
excluded_rows.to_csv('excluded_rows.csv', index=False)